@media screen and (max-width: 1366px)
{
	
	.section-b {
		/*height: 770px;*/
	}

	.article-wrap {
		width: 600px;
	}

	.athlets .article-wrap {
		padding-left: 15px;
		padding-right: 15px;
	} 

	.athlets-bg {
		width: calc(100% - 500px);
	}

	.players-bg {
		left: 500px;
		width: 100%;
		height: 100%;
	}  

}/* - 1366 - */

@media screen and (max-width: 1280px)
{
	.hero h1 {
		font-size: 70px;
		line-height: 80px;
	}
 

}		/* - 1280 - */

@media screen and (max-width: 1024px)
{
	.hero h1 {
		font-size:  6vw;
		line-height: 7vw;
	}
	.footer .main-title {
		margin: 0;
		text-align: left;
		letter-spacing: 0;
		font-size: 8vw;
	}
	.subtitle {
/*		font-size: 30px;*/
		font-size: 3vw;
	}
} /* - 1024 - */

@media screen and (max-width: 768px)
{
	.wrapper {
		padding-left: 25px;
		padding-right: 25px;
  }
  .hero {
  	padding: 40px 0 90px;
  }

  .hero h1
  {
		font-size: 64px;
		line-height: 1.25;
  }

  .hero .btn:first-child {
		margin-bottom: 30px;
  }

	/*===================*/
 /*==== SECTION-A =====*/

  .athlets .main-title,
  .players .main-title {
		margin-bottom: 60px;
	}

  .athlets {
  	padding-top: 35px;
  }

	.content-box1,
	.content-box2,
	.content-box3 {
		padding: 40px 0 40px;
	}

	.article-wrap {
		width: 100%;
		max-width: 450px;
	}

	.athlets .article-wrap,
	.players .article-wrap {
		padding: 0;
	}
	.article-title {
		font-size: 32px;
		line-height: 32px;
	}
	.article-text {
		font-size: 16px;
		line-height: 28px;
	}

	.athlets-bg {
		left: calc(100% - 840px);
		//left: 0;
		top: 90px;
		//z-index: -1;
		width: 100%;
		height: 90%;
		background-size: contain;
		background-position: -120px 0;
		overflow: hidden;
	}
	.players-bg {
		left: 320px;
		width: 100%;
		height: 100%;
		background-size: contain;
		overflow: hidden;
	}

	/*===================*/
 /*==== SECTION-B =====*/
	.section-b.be-active,
	.section-b.contact,
	.section-b.work {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: auto;
	} 
	
	.section-b .img-box {	
		width: 100%;
		height: 580px;
	}

	.section-b .article-wrap {
		width: 100%;
		padding: 75px 25px 95px;
	}

	.section-b .main-title {
		margin-bottom: 30px;
	}

	.contact .img-box {
		order: -1;
	}

	.square {
	  left: 25px;
	  top: 500px;
	  transform: translateX(0);

		width: 115px;
	  height: 115px;
	}

	/*===================*/
 /*===== FOOTER ======*/
	.footer {
		padding: 125px 0 20px;
		height: auto;
	}
	.download {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		margin-bottom: 260px;
	}
	.logo-btn {
		display: block;
		width: 100%;
		margin: 0;
		margin-bottom: 80px;

		background-image: url(../images/download.png);
		background-repeat: no-repeat;	
		background-position: center;
	}

	.footer .main-title {
		margin: 0;
		/*font-size: 80px;*/
		font-size: 10.5vw;
		text-align: center;
		letter-spacing: 0;

	}
	.subtitle {
		/*font-size: 36px;*/
		font-size: 4.75vw;
		line-height: 60px;
		text-align: center;
	}

	.footer .logo {
		margin: 0;
		margin-top: 30px;
	}

	.footer .btn:first-child {
		margin-bottom: 30px;
  }

}/* -= 768 =- */

@media screen and (min-width: 700px) and (max-width: 765px)
{
	.hero h1 {
		color: yellow;
		font-size: 30px;
		border: 1px solid red;
	}
}		/* - 560 - */
@media screen and (max-width: 580px)
{
  .hero h1 {
		font-size: 10vw;
	}
}		/* - 580 - */

@media screen and (max-width: 480px)
{
  .footer .main-title {
		font-size: 10vw;
	}

}		/* - 480 - */


@media screen and (max-width: 420px)
{

}/* -= 360 =- */

@media screen and (max-width: 360px)
{
	body {
/*		max-width: 360px;
		overflow: hidden;*/
	}
	.wrapper {
		padding: 0 20px;
	}
	.main-title {
		//margin-bottom: 10px;
		font-size: 50px;
		line-height: 60px;
	}

	.btn {
		width: 280px;
		height: 35px;
		margin: 0;
		padding: 7px 0px;
		padding-left: 30px;

		font-size: 8px;
		line-height: 1.5;
		text-align: center;
		
		border-radius: 17px;
	}

	.btn-app {
		-webkit-background-size: 25px;
		background-size: 25px;
		background-position: 80px 5px;
	}
	.btn-google {
		-webkit-background-size: 25px;
		background-size: 25px;
		background-position: 84px 5px;
	}

/*===== HERO =====*/
	.hero {
		width: 100%;
		height: 568px;
		padding: 30px 0 80px;
	}
	.hero h1 {
		color: #ffffff;
	}
	.hero .logo {
		margin-bottom: 125px;
	}
	.hero-title-sport {
		display: block;
		text-align: left;
		margin-left: 35px;
	}
	.hero-title h1 {
		font-size: 28px;
		line-height: 32px;
	}
	.hero h1.left {
		margin: 0;
		margin-bottom: 30px;
	}
	.hero h1.right {
		margin-right: 20px;
		margin-bottom: 80px;
	}
/*===== ATHLETS =====*/
	.athlets {
		padding: 25px 0 50px;
	}
	.athlets .wrapper {
		height: 100%;
		width: 100%;
		max-width: 320px;
	}
	.athlets .main-title {
		margin-bottom: 245px;
	}

	.athlets-bg {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		z-index: 9;
		width: 180px;
		height: 280px;
		
		background-image: url(../images/footballer_566.png);
		background-repeat: no-repeat;
		//background-position: calc(100% - 150px) bottom;	
	}

	.article-wrap {
		width: 100%;

	}

	.athlets .article-wrap {
		padding-left: 15px;
	}

	.article-title {
		position: relative;
		margin-bottom: 25px;
		padding-left: 30px;

		font-size: 23px;
		line-height: 35px;
	}
	.content-box1,
	.content-box2,
	.content-box3 {
		padding: 55px 0;
	}
	.content-box1 {
		padding-top: 0;
	}

}
