:root {
	--bg-btn: #5e42b0;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
  url("../fonts/OpenSans-Regular.woff") format("woff"),
  url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-bold";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
  url("../fonts/OpenSans-Bold.woff") format("woff"),
  url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
body {
	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 20px;
	line-height: 1.4;
	color: #000000;
	overflow-x: hidden;
}
h1, h2 {
	letter-spacing: 0.05em;
}

.btn {
	display: inline-block;
	width: 315px;
	height: 80px;
	margin: 0 1.4vw;
	padding: 20px 0;
	padding-left: 105px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-align: left;
	
	color: #ffffff;
	background-color: var(--bg-btn);
	border-radius: 40px;
}
.btn span {
	font-family: OpenSans-bold;
}
.btn-app {
	background-image: url(../images/svg/apple_logo_black.svg);
	background-repeat: no-repeat;
	-webkit-background-size: 48px;
	background-size: 48px;
	background-position: 35px 15px;
}
.btn-google {
	padding-left: 120px;
	background-image: url(../images/svg/google-play.svg);
	background-repeat: no-repeat;
	-webkit-background-size: 48px;
	background-size: 48px;
	background-position: 50px 15px;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.wrapper {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	max-width: 1560px;
	
	text-align: center;
}

.main-title {
	margin-bottom: 95px;
	font-family: OpenSans-bold;
	font-size: 80px;
	line-height: 80px;
/*	font-size: 4.2vw;
	line-height: 4.2vw;*/
	color: #ad4d4d;
	text-transform: uppercase;
	letter-spacing: 0;
}

/*++++++++++ HERO +++++++++++++++
++++++++++++ ------- +++++++++++++*/
.hero {
	position: relative;
	z-index: -8;
	width: 100%;
	padding: 45px 15px 110px;

	color: #ffffff;
	background-image: url(../images/football_1920.jpg);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.hero:after {
	content: '';
	position: absolute;
	z-index: -9;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(10, 14, 52, 0.9);
	
}

.logo {
	display: inline-block;
	margin-bottom: 290px;

}
.logo-img {
	fill: #ffffff;

}
.hero h1 {
	font-family: "OpenSans-bold";
/*	font-size:  4.5vw;
	line-height: 5vw;*/
	font-size:  90px;
	line-height: 100px;
	text-transform: uppercase;
	color: ##ce797e;
}
.hero h1.right {
	margin-bottom: 200px;
}

/*++++++++++ ATHLETS +++++++++++++++
++++++++++++ ------- +++++++++++++*/
.athlets .wrapper {
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	max-width: 1530px;
	
	text-align: left;
}
.athlets {
	position: relative;
	padding: 40px 0;

}
.athlets-bg {
	position: absolute;
	z-index: 9;
	width: calc(100% - 840px);
	height: 100%;
	bottom: -10px;

	background-image: url(../images/footballer_566.png);
	background-repeat: no-repeat;
	background-position: calc(100% - 150px) bottom;	
}

.article-wrap {
	width: 760px;

}

.athlets .article-wrap {
	padding-left: 15px;
}

.article-title {
	position: relative;
	margin-bottom: 30px;
	padding-left: 37px;

	font-family: OpenSans-bold;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #c1c1c1;
}

.article-title:after {
	content: '';
	position: absolute;
	top: 28px;
	left: 2px;

	display: block;
	width: 19px;
	height: 4px;

	background-color: var(--bg-btn);
	border-radius: 4px;
}

.content-box1 .article-title:before {
	content: '01';
	position: absolute;
	top: -5px;
	left: 0;

	font-family: OpenSans-bold;
	font-size: 18px;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	color: #000;
	/*border-bottom: 5px solid var(--bg-btn);
	border-radius: 3px;*/
}

.content-box2 .article-title:before {
	content: '02';
	position: absolute;
	top: -5px;
	left: 0;

	font-family: OpenSans-bold;
	font-size: 18px;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	color: #000;
}
.content-box3 .article-title:before {
	content: '03';
	position: absolute;
	top: -5px;
	left: 0;
	font-family: OpenSans-bold;
	font-size: 18px;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	color: #0a0e34;
}

.content-box3 .article-title:after {
	background-color: #efefef;
}

.content-box1,
.content-box2,
.content-box3 {
	padding: 60px 0 60px;
	text-align: left;
}

.content-box1 {
	background-color: #ffffff;
}
.content-box2 {
	background-color: rgba(94, 66, 176, 0.06);
}
.content-box3 {
	background-color: rgba(94, 66, 176, 1);
	color: #ffffff;
}

.article-text {
	text-align: left;
	letter-spacing: 0.05em;
}

/* +++++++++ PLAYERS +++++++++++++
++++++++++++ ------- +++++++++++++*/
.players {
	position: relative;
}
.players .article-wrap {
	padding-left: 15px;
}
.players .content-box1,
.players .content-box2,
.players .content-box3 {
	justify-content: flex-start;
}

.players .article-title {
	text-align: left;
}

.players .main-title {
	text-align: left;
}

.players-bg {
	position: absolute;
	z-index: 9;
	top: -20px;
	left: 760px;
	/*width: calc(100% - 840px);*/
	width: 100%;
	height: 100%;

	background-image: url(../images/basketballer_991.png);
	background-repeat: no-repeat;
	/*background-position: 
	calc(100% - 150px) bottom;*/
	
}

/* _________ SECTION-B ___________ 
  *********************************

 ------ BE-ACTIVE ------ */
.section-b{
	position: relative;
	display: flex;
	height: 730px;
	width: 100%;

	/*border: 2px dotted red;*/
} 

.img-box {	
	width: 50vw;
	height: 100%;
	font-size: 0;
	overflow: hidden;

	/*border: 1px solid blue;*/
}
.img-box img {
	width: auto;
	height: 100%;
}
.section-b .article-wrap {
	width: 50vw;
	padding: 250px 8px 115px;
	padding-left: 6vw;

}
.section-b .main-title  {	
	color: rgba(193, 193, 193, .4);
}
.section-b .article-text {
	font-size: 24px;
}

.square {
  position: absolute;
  left: 50%;
  top: 235px;
  transform: translateX(-50%);
  z-index: 9;

  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
	width: 168px;
	/*width: 8.7vw;*/
  height: 155px;
  /*height: 8vw;*/

  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.437;
  text-align: center;
	color: rgb(245, 246, 247);
	background-color: rgb(94, 66, 176);
}

.square-number {
  border-radius: 2px;
	border-bottom: 5px solid rgba(255, 255, 255, 0.3);
}

/* 
 ------  CONTACT ------- */
.contact {
	justify-content: space-between;
}
.contact .article-wrap {
	margin-left: auto;
	padding: 250px 0 115px;
	padding-right: 6vw;
	padding-left: 15px;
	
}
.contact .img-box {	
	width: 50%;
	height: 100%;

	font-size: 0;
	overflow: hidden;
}
.contact .img-box img {
	width: auto;
	height: 100%;
}

.contact .square {
/*	left: calc(43% + 130px);
  top: 11vw;*/
}

/*_________  END SECTION-B _________*/

/* +++++++++ FOOTER +++++++++++++
++++++++++++ ------- +++++++++++++*/
.footer {
	position: relative;
	z-index: -8;
	height: 960px;
	padding: 230px 0 50px;
	
	background-image: url(../images/game_1920.jpg);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.footer:after {
	content: '';
	position: absolute;
	z-index: -9;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(10, 14, 52, 0.9);	
}
.download {
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 150px;
}
.logo-btn {
	display: block;
	width: 156px;
	height: 141px;
	margin-right: 25px;
	background-image: url(../images/download.png);	
}

.footer .main-title {
	margin: 0;
	text-align: left;
}
.subtitle {
	font-size: 30px;
	line-height: 35px;
	text-transform: uppercase;
	text-align: left;

	color: #a496ca;
}
.footer .logo {
	
	margin: 0;
	margin-top: 260px;

}
